<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>
  <link rel="icon" href="https://pngwebicons.com/uploads/car/ico/car_icon3898.ico" />
  <meta name="robots" content="noindex">


  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="main.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<link rel="stylesheet" href="profile.css">
</head>




<body class="container shadow"></body>

<header class="site-header py-3 my-3 align-top border-bottom">
  <nav class="navbar navbar-expand-lg bg-inverse font-weight-bold">
    <a class="navbar-brand" href="/welcome">
      <h1 class="mt-4">Home</h1>
    </a>

    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
      data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars fa-lg" style="font-size: 30px;"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarToggle">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        <!-- <li class="nav-item">
        <a class="nav-link" href="/regcar">Add new Car</a>
      </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/reserve">Reservations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">
            <i class="text-primary fa fa-user-circle fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">
            <i class="text-primary fa fa-sign-out fa-lg"></i>
          </a>
        </li>

        <!-----------------------------Search Bar---------------------------->
        <form class="navbar-forml form-inline" action="/find" method="GET">
          <div class="input-group">
            <input id="vname" type="search" name="vname" class="form-control" placeholder="Search a Car" required=""
              autofocus="">
            <div class="input-group-addon" style="margin-left: 10px;">
              <button class="btn btn-outline-primary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <!------------------------------------------------------------------->


      </ul>
    </div>
  </nav>
</header>


<main class="container" role="main" style="height: 360px;">
  <div class="row car_header">
    <div class="col text-left">
      <h3></h3>
    </div>

    <div class="col text-right">
      <h3></h3>
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col col-span-6 text-center">
      <i class="fa fa-lg fa-user"></i>
      <br />
      <div class="col py-3">
        <strong>Username:</strong> <%= user.name %>
        <br>
        <strong>Email:</strong> <%= user.email %>
      </div>

      <hr /><br />
      <a href="/dashboard" class="mb-3 btn btn-lg btn-outline-secondary">
        Dashboard
      </a>
    </div>
  </div>
</main>

<footer class="page-footer align-bottom py-3 my-3 border-top">
  <ul class="row text-center list-unstyled mt-2 list-inline">
    <li class="col list-inline-item">
      <a href="/policy">Policy</a>
    </li>

    <li class="col list-inline-item">
      <a href="/contact">Contact</a>
    </li>

    <li class="col list-inline-item">
      <a href="/terms-of-use">Terms of use</a>
    </li>
  </ul>

  <div class="footer-copyright pb-3 text-center">
    <strong>! Karhebti Tunisia !</strong> <br /> © 2021. All rights reserved.
  </div>
</footer>

<!-- jQuery, Popper and Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="/js/main.js"></script>



</body>

</html>