body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.form-wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/driver.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  /* font-size: 1.1rem; */
}

h1 {
  text-align: center;
  color: white;
}

.button {
  background: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 130px;
  background-color: wheat;
}